<!--< %= form_tag("/login", method: "post", :id => 'login_form') do %>
	<div class="field">
		< %= label_tag :username %>
		< %= text_field_tag :username, params[:username] %>
	</div>
	<div class="field">
		< %= label_tag :password %>
		< %= password_field_tag :password, params[:password] %>
	</div>
	<div class="actions">< %= submit_tag "Log in" %></div>
< % end %>
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->

  	<style>
		.alert {
		    padding: 20px;
		    background-color: #f44336;
		    color: white;
			display: inline-block;
			z-index: 2;
			max-width: -moz-max-content;
		}

		.center {
			text-align: center;
		}

		.information {
		    padding: 20px;
		    background-color: lightskyblue;
		    color: white;
			display: inline-block;
			z-index: 2;
			max-width: -moz-max-content;
		}

		.Absolute-Center {
		  width: fit-content;
		  margin: auto;
		  position: absolute;
		  left: 0; right: 0;
		  margin-top: 10%;
		}

		.closebtn {
		    margin-left: 25px;
		    color: white;
		    font-weight: bold;
		    float: right;
		    font-size: 22px;
		    line-height: 20px;
		    cursor: pointer;
		    transition: 0.3s;
		}

		.closebtn:hover {
		    color: black;
		}
	</style>

</head>
<body>
	
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<%= form_tag("/login", method: "post", :id => 'login_form') do %>
				<!--<form class="login100-form validate-form">-->
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>
					<!--<div class="alert Absolute-Center">
  						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  						<strong>Danger!</strong> Indicates a dangerous or potentially negative action.
					</div>-->
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<%= text_field_tag :username, params[:username], placeholder: "Username", :class => 'input100' %>
						<!--<input class="input100" type="text" name="username" placeholder="Username">-->
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<%= password_field_tag :password, params[:password], placeholder: "Password", :class=>"input100" %>

						<!--<input class="input100" type="password" name="pass" placeholder="Password">-->
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<!--<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>-->

					<div class="container-login100-form-btn">
						
						<button class="login100-form-btn" onclick="javascript:document.getElementById('login_form').submit();">
							Login
							<!--< %= submit_tag "Log in", style:'background:transparent;'%>-->
						</button>
						<!--<button class="login100-form-btn">
							Login
						</button>-->
					</div>

					<!--<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div>-->
					<div class="text-center p-t-90">
						<a class="txt1" href="signup.html" style="color: white !important;">
							If you haven't an account, you can sign up.
						</a>
					</div>
				<% end %>
				<!--</form>-->
			</div>
		</div>
		
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>